<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8 "/>
        <title>Thulani Malaza Website</title>
        <link rel="stylesheet" href="static\css\style.css">
    </head>
    <body>
        <section class="container">

            <div class="content">
                <h1> Welcome to <span class="purple-color"></span>ThusTech World</h1>
                <h3>Building Climber and Train Stopper</h3>
                <p>
                    You might see me jumping, climbing building, and stoping trains.
                    But nobody pays me a dime for that work. That's why I am learning
                    and mastering web development. I will not stop unitil I become the 
                    Web Development Hero.
                </p>
                <a href="https://www.linkedin.com/" class="btn">Hire Me</a>
            </div>

            <div class="content">
                <img class ="img" src="static/images/pic1.png" alt=""/>
            </div>

        </section>   
        
        <section class="container">
            <!-- future goals -->
            <div class="goals">
                <h1>SPRINT</h1>
                <h3>I welcome you to my python Backend Developer journey</h3>
                <p>
                    This is the first series of projects I will be working on. This is a simple
                    static html, the aim was learning how to config and setup the enviroment
                </p>
                <p>
                    <a href="">On the next project we will look at dynamic html.</a>
                </p>
            </div>

            <div class="content">
                <img class ="img" src="static/images/pic3.png" alt=""/>
            </div>
        </section>

        <section class="container">
            <h1>About</h1>
            <div class="about">
                <h1>Backend Developer</h1>
                <p>
                    As a recent graduate in Software Engineering N5, my journey has just begun,
                    and I am fueled by a deep passion for technology and a desire to become an all-rounded
                    tech enthusiast. My early education has provided me with a strong foundation, and
                    now, I am dedicated to upskilling myself to embrace the dynamic and ever-evolving
                    world of technology.
                </p>
                <p>
                    I am committed to expanding my knowledge across various domains, from mastering
                    programming languages to delving into emerging technologies like artificial intelligence
                    and cloud computing. My goal is to not only excel in the technical aspects of Software
                    Engineering but also to cultivate a holistic understanding of the entire tech ecosystem.
                </p>
                <p>
                    As I embark on this journey of continuous learning and growth, I am excited about the
                    challenges and opportunies that lie ahead. I aspire to contribute to groundbreaking projects,
                    collaborate with like-minded individuals, and ultimately, inspire others to embrace the endless
                    possibilities that a career in technology can offer. My commitment to becoming an all-rounded tech
                    geek is not just a professional goal but a personal quest to push boundaries and shape a future
                    where technology becomes a force for good.
                </p>
            </div>
        </section>
    </body>
</html>